<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Choose your favorite menu">

    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title>Mufti Restaurant</title>
</head>

<body>
    <div><a href="#restaurant-title" class="skip-link"> Skip To Content</a></div>
    <header class="header">
        <div class="header_inner">
            <h1 tabindex="0" class="header_title">
                Mufti Restaurant
            </h1>
        </div>
        <button id="menu" class="header_menu" aria-label="navigation-menu">☰</button>  

        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="#/home">Home</a></li>
                <li class="nav_item"><a href="#/favorite">Favorite</a></li>
                <li class="nav_item"><a href="https://www.linkedin.com/in/mufti-alie-satriawan-348817171/"
                        target="blank_">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" style="background-image: linear-gradient(
        rgba(170, 170, 170, 0.1),
        rgba(70, 70, 70, 0.5)
      ),
      url('./images/heros/hero-main.jpg');">
        <div class="hero_inner">
            <h1 tabindex="0" class="hero_title">Beragam restaurant yang anda mau ada disini</h1>
            <p tabindex="0" class="hero_desc">Disini kamu dapat menemukan restaurant terbaik yang belum pernah kamu temukan. <br>Yuk Cari !!</p>
        </div>
    </div>

    <main id="main"></main>

    <footer>
        <p tabindex="0">Copyright © 2021 - Mufti Restaurant</p>
    </footer>
</body>

</html>