/* Main */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
}

button {
  min-width: 44px;
  min-height: 44px;
}

/* Header */

.header {
  background-color: white;
  width: 100%;
  transition: min-height 0.3s;
}

.header_inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header_title {
  font-weight: 500;
  font-size: 3em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.header_menu {
  font-size: 32px;
  margin: 10px auto;
  display: block;
  width: 30px;
}

/* Navigation */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #000;
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  min-height: 400px;
  background-position: center;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: green;
}

.hero_inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero_title {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}

.hero_desc {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/* main */

main {
  width: 100%;
  margin: 0 auto;
}

/* content */

.content {
  padding: 32px;
}

/* list */

.list {
  width: 100%;
  margin: 24px auto;
  text-align: center;
}

.list_title {
  font-size: 32px;
  font-weight: 400;
}

/* skip link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: white;
  color: black;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* restaurant */

.restaurant {
  margin: 32px auto auto;
  text-align: left;
}

/* restaurant item */

.restaurant-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.restaurant-item_content {
  padding: 16px;
}

.restaurant-item_thumbnail {
  max-width: 100%;
  height: 280px;
}

.restaurant-item_other {
  margin: 4px auto;
}

.restaurant-item_title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
  transition: 0.3s opacity;
}

.restaurant-item_title a {
  color: black;
  text-decoration: none;
}

.restaurant-item_description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
}

/*
    Restaurant
  */

.restaurant-detail {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.restaurant-detail .restaurant_title {
  text-align: center;
}

.restaurant-detail .restaurant_poster {
  width: 100%;
  max-width: 400px;
}

.restaurant-detail .restaurant_info h3 {
  margin: 8px 0;
}

.restaurant-detail ul,
ol {
  margin-left: 24px;
}

/* footer */

footer {
  background-color: #2c3e50;
  padding: 2em;
  width: 100%;
  text-align: center;
}

footer p {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.search-container input,
.search-container button i.fa {
  padding: 5px;
  border-radius: 5px;
}
